name: CI

on:
  push:
    branches:
      - main

permissions:
  contents: read

env:
  NODE_VERSION: 24

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run ci
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@c48e67d110a68bc90ccf1098e9646092baacaa87 # v1.6.0
        with:
          publish: pnpm exec changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish to GitHub Packages (npm)
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for pkg in ./packages/*; do
            pushd $pkg > /dev/null
            npm config set //npm.pkg.github.com/:_authToken $NODE_AUTH_TOKEN
            npm publish --registry=https://npm.pkg.github.com/ || echo "Some packages may already have been published."
            popd
          done
      - name: Output published summary
        run: |
          echo "## Published packages" >> $GITHUB_STEP_SUMMARY
          echo '${{ steps.changesets.outputs.publishedPackages }}' | jq -r '
            (["Package", "|", "Version"], ["---", "|", "---"]),
            (.[] | [.name, "|", .version])
            | @tsv' | column -t -s $'\t' >> $GITHUB_STEP_SUMMARY
